* {
    margin: 0;
    padding: 0;
}

nav {
    width: 20%;
    min-width: 300px;
    margin: 20px auto;
}

h5 {
    font-size: 18px;
    text-transform: uppercase;
}

h5.navigation_item {
    margin: 0;
    background: #3594b3;
    background: linear-gradient(310deg, rgba(53, 148, 179, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

h5.navigation_item:after {
    content: "+";
    display: inline-block;
    margin-left: 10px;
    color: #f9fa57;
    transform: rotate(90deg);
    transition: 400ms;
    font-weight: bold;
    font-size: 20px;
}

h5.navigation_item.minus:after {
    content: "-";
    display: inline-block;
    margin-left: 0 0 0 10px;
    color: #f9fa57;
    rotate: 270deg;
    transition: 400ms;
    font-weight: bold;
    font-size: 20px;
}

.navigation > ul {
    display: none;
    height: 0;
    transition: 1.5s;
    list-style-type: none;
}

.navigation ul li {
    padding: 10px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
}

.arrowRight:after {
    content: "";
    margin-left: 20px;
    width: 15px;
    height: 15px;
    background: url(/images/nav/right-arrow-svgrepo-com.svg) no-repeat center center;
    background-size: cover;
    rotate: 90deg;
}

.navigation ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #3594b3;
}

.navigation ul li:hover::after {
    rotate: 0deg;
    transition: 400ms;
    margin-left: 40px;
}

.navigation ul li:hover {
    border-bottom: 1px solid #88d746;
    cursor: pointer;
}

.navigation ul.active {
    display: block;
    padding: 10px 0 10px;
    transition: 1.5s;
    height: auto;
}

.navigation_linck {
    position: relative;
}

.navigation {
    /* background: rgb(204, 204, 204);
    background: linear-gradient(51deg, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%);*/
    background: rgb(243, 242, 242);
}

.dropdown-item {
    margin: 0;
    padding: 0;
    display: none;
    transition: 1.5s;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: max-content;
    background: rgb(243, 242, 242);
    /* background: rgb(204, 204, 204);
    background: linear-gradient(270deg, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%); */
}

ul.dropdown-item li:hover {
    border-bottom: 1px solid #88d746 !important;
    cursor: pointer;
}

.navigation_linck {
    position: relative;
}

.button-menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.stroke {
    height: 3px;
    width: 100%;
    background: #00b7cc;
    transition: 500ms;
}

.nav-hidden {
    position: absolute;
    top: -300px;
    transition: 500ms;
}

.nav-visible {
    width: 92%;
    position: absolute;
    top: 0px;
    transition: 500ms;
}

.button-menu-in-nav {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 5;
    rotate: 450deg;
    transition: 1.5s;
}

.button-menu-in-nav .stroke {
    background: #fff;
    transition: 1.5s;
    rotate: -360deg;
    width: 25px;
}
